body,
html {
  height: auto !important;
  &.no-scroll {
    overflow-y: hidden !important;
    height: 100% !important;
  }
  &.no-scroll-initial {
    overflow: hidden !important;
    height: auto !important;
  }
}

html.disable-scrolling {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;

  @include when-inside('.disable-scrolling') {
    overflow: visible;
  }
}

.is-mobile {
  display: block;
  @include respond-min(1024) {
    display: none;
  }
}

.first-section{
  padding-top: 110px;
  @include respond-to(md){
    padding-top: 140px;
  }
  @include respond-to(xl){
    padding-top: 170px;
  }
}