/*
Generated css file from old main.sass
*/

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

svg {
  height: auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.hover-opacity-text {
  opacity: 1;
  transition: opacity .5s;
}

.hover-opacity-text:hover {
  opacity: .5;
  transition: opacity .5s;
}

button {
  padding: 0;
  border: none;
}

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader_inner {
  background-image: url("../img/loader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 300px;
  width: 400px;
  margin-top: -150px;
  margin-left: -200px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.toggle_mnu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  top: calc(50% - 12px);
  right: 15px;
  border-radius: 3px;
  height: 23px;
  width: 35px;
  cursor: pointer;

  @include respond-to(lg){
    right: 60px;
  }
}

.toggle_mnu.mobile {
  top: 27px;
}

.toggle_mnu.mobile.open .sandwich span {
  background-color: #fff;
  transition: background-color .5s;
}

.toggle_mnu.top .sandwich span:last-of-type {
  width: 75%;
}

.toggle_mnu.open .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.toggle_mnu.open .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle_mnu.open .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toggle_mnu .sandwich {
  max-height: 2px;
}

.toggle_mnu .sandwich span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #6f6f6f;
}

.toggle_mnu .sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block;
}

.toggle_mnu .sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 8.7px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.toggle_mnu .sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 16.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.underline-hover {
  position: relative;
}

.underline-hover::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background .35s ease;
  background-color: #333333;
}

.underline-hover:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 1px;
  width: 0;
  background: #333333;
  transition: width .35s ease;
}

.underline-hover:hover::before {
  width: 100%;
  background: #333333;
  transition: width .35s ease;
}

.underline-hover:hover::after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

.underline-hover-not-animation {
  position: relative;
  transition: background-color .5s;
}

.underline-hover-not-animation:hover::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  bottom: 0px;
  left: 0;
  transition: background-color .5s;
}

.wrapper-top-header {
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.wrapper-top-header .top-header {
  width: 100%;
  background-color: white;
  right: 0;
  left: 0;
  z-index: 10000;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  min-height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #e8e8e8;
}

.wrapper-top-header .top-header .wrapper-main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.wrapper-top-header .top-header.resize .left-side .logo img {
  width: 120px;
  transition: width 1s;
  @include respond-to(sm){
    width: 140px;
  }
}

.wrapper-top-header .top-header.resize .right-side .top-menu li a {
  font-size: 15px;
  transition: font-size .5s;
}

.wrapper-top-header .top-header.resize .right-side .lang-select .text {
  transition: font-size .5s;
  font-size: 15px;
}

.wrapper-top-header .top-header.resize .toggle_mnu {
  width: 26px;
  height: 20px;
}

.wrapper-top-header .top-header.resize .toggle_mnu span.sw-bottom {
  top: 6.7px;
}

.wrapper-top-header .top-header.resize .toggle_mnu span.sw-footer {
  top: 13.5px;
}

.wrapper-top-header .top-header .left-side .logo {
  display: block;
}

.wrapper-top-header .top-header .left-side .logo img {
  transition: width .5s;
  width: 160px;
  height: auto;
  @include respond-to(sm){
    width: 190px;
  }
}

.wrapper-top-header .top-header .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper-top-header .top-header .right-side ul.top-menu {
  display: flex;
  flex-direction: row;
}

.wrapper-top-header .top-header .right-side ul.top-menu li {
  padding: 0 20px;
}

.wrapper-top-header .top-header .right-side ul.top-menu li:last-of-type {
  padding-right: 0;
}

.wrapper-top-header .top-header .right-side ul.top-menu li a {
  //font-family: "Montserrat", sans-serif;
  font-weight: 300;
  //font-size: 18px;
  font-size: 16px;
  text-transform: uppercase;
  color: #333333;
  opacity: 1;
  transition: opacity .5s;
  transition: font-size .5s;
}

.wrapper-top-header .top-header .right-side .lang-select {
  margin-left: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.wrapper-top-header .top-header .right-side .lang-select .text {
  //font-size: 18px;
  font-size: 16px;
  transition: font-size .5s;
  //font-weight: 400;
  font-weight: 400;
  cursor: pointer;
}

.wrapper-top-header .top-header .right-side .lang-select .caret-wrapper {
  margin-left: 5px;
}

.wrapper-top-header .top-header .right-side .lang-select .caret-wrapper .caret {
  width: 15px;
  height: 10px;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.wrapper-top-header .top-header .right-side .lang-select .caret-wrapper .caret.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.wrapper-top-header .top-header .right-side .lang-list {
  min-width: 78px;
  display: none;
  border: 1px solid #f4f4f4;
  position: absolute;
  top: 28px;
  right: -24px;
  padding: 10px 38px 16px 15px;
  z-index: 100;
  background-color: white;
}

.wrapper-top-header .top-header .right-side .lang-list li {
  padding-bottom: 7px;
}

.wrapper-top-header .top-header .right-side .lang-list li:last-of-type {
  padding-bottom: 0;
}

.wrapper-top-header .top-header .right-side .search-block {
  margin-left: 12px;
}

.wrapper-top-header .top-header .right-side .search-block a {
  display: flex;
  width: 17px;
  height: 17px;
}

.wrapper-top-header .top-header .right-side .search-block a svg {
  width: 100%;
  height: 100%;
}

.wrapper-top-header .top-header .right-side .search-block a svg path {
  //fill: #333333;
  fill: #333333;
}

.wrapper-top-header .top-header .right-side .navi-hamburger {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
  border-radius: 5px;
  float: right;
  height: 38px;
  width: 40px;
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span {
  left: -3px;
  width: 28px;
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span.top {
  top: -1px;
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span.bottom {
  top: 1px;
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span:first-child {
  transform: rotate(45deg) translate(8.4px, 7.4px);
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.wrapper-top-header .top-header .right-side .navi-hamburger.open span:last-child {
  transform: rotate(-45deg) translate(7.4px, -6.4px);
}

.wrapper-top-header .top-header .right-side .navi-hamburger span {
  position: relative;
  display: block;
  top: 1px;
  height: 3px;
  width: 100%;
  border-radius: 6px;
  transition: all .25s;
  background-color: #000;
}

@keyframes zoominoutsinglefeatured {
  0% {
    //transform: scale(1.3, 1.2);
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

section.main-carousel-wrapper {
  padding-top: 110px;
  @include respond-to(sm){
    height: 100vh;
  }
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item {
  display: flex;
  position: relative;
  width: 100%;

  @include respond-to(sm){
    height: calc(100vh - 78px);
  }
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item.transition-slide .item-content .item-media img {
  animation: zoominoutsinglefeatured 2s;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .item-content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .item-content .item-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .item-content .item-media img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .video-hero {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  @include respond-to(sm){
    height: auto;
    padding-bottom: 0;
  }
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .video-hero video {
  position: relative;
  width: 100%;

  @include respond-to(sm){
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button {
  top: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 100;
  opacity: .8;
  transition: opacity .5s;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button:hover {
  opacity: .4;
  transition: opacity .5s;
  cursor: pointer;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button svg path {
  fill: #fff;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button.prev-button {
  left: 85px;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button.next-button {
  right: 65px;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav {
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav button {
  background: none;
  border: none;
  outline: none;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-prev svg,
section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-next svg {
  width: 40px;
  height: 40px;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-prev svg path,
section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-next svg path {
  fill: #fff;
  transition: .5s;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-prev:hover svg path,
section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-next:hover svg path {
  transition: opacity .5s;
  opacity: .5;
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-prev,
section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-next {
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 58px;
  transform: translate(0, -50%);
}

section.main-carousel-wrapper .main-carousel-home.slick-slider .owl-nav .owl-next {
  left: auto;
  right: 58px;
}

section.main-carousel-wrapper .main-carousel .owl-stage-outer {
  height: 100%;
}

section.main-carousel-wrapper .main-carousel .owl-stage-outer .owl-item.something {
  opacity: 0;
  transition: opacity 1s;
}

section.main-carousel-wrapper .main-carousel .item {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 78px);
}

section.main-carousel-wrapper .main-carousel .item .item-content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

section.main-carousel-wrapper .main-carousel .item .item-content .item-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.main-carousel-wrapper .main-carousel .item .item-content .item-media img {
  object-fit: cover;
  max-width: 100%;
  height: calc(100vh - 78px);
}

section.main-carousel-wrapper .main-carousel .item .video-hero {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
}

section.main-carousel-wrapper .main-carousel .item .video-hero video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section.main-carousel-wrapper .main-carousel .owl-nav {
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

section.main-carousel-wrapper .main-carousel .owl-nav button {
  background: none;
  border: none;
  outline: none;
}

section.main-carousel-wrapper .main-carousel .owl-nav .owl-prev svg,
section.main-carousel-wrapper .main-carousel .owl-nav .owl-next svg {
  width: 40px;
  height: 40px;
}

section.main-carousel-wrapper .main-carousel .owl-nav .owl-prev svg path,
section.main-carousel-wrapper .main-carousel .owl-nav .owl-next svg path {
  fill: #fff;
  transition: .5s;
}

section.main-carousel-wrapper .main-carousel .owl-nav .owl-prev:hover svg path,
section.main-carousel-wrapper .main-carousel .owl-nav .owl-next:hover svg path {
  transition: opacity .5s;
  opacity: .5;
}

section.main-carousel-wrapper .main-carousel .owl-nav .owl-prev,
section.main-carousel-wrapper .main-carousel .owl-nav .owl-next {
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 58px;
  transform: translate(0, -50%);
}

section.main-carousel-wrapper .main-carousel .owl-nav .owl-next {
  left: auto;
  right: 58px;
}

section.main-carousel-wrapper .scroll-down-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 0;
}

section.main-carousel-wrapper .scroll-down-wrapper a.scroll-down {
  position: absolute;
  bottom: 55px;
  display: flex;
  width: 26px;
  height: 15px;
  z-index: 1000;
}

section.main-carousel-wrapper .scroll-down-wrapper a.scroll-down svg path {
  fill: #fff;
}

section.main-carousel-wrapper .scroll-down-wrapper .vertical-line {
  position: relative;
}

section.main-carousel-wrapper .scroll-down-wrapper .vertical-line .line {
  position: absolute;
  top: -50px;
  width: 1px;
  height: 0px;
  background-color: #cb97af;
  right: calc(50% - 1px);
  z-index: 1000;
  transition: height 1.6s;
}

section.main-carousel-wrapper .scroll-down-wrapper .vertical-line .line.animated-line {
  transition: height 1.6s;
  height: 105px;
}

.mobile-menu {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #8a8c8c;
  z-index: 20000;
  //font-family: "Montserrat", sans-serif;
}

.mobile-menu .topper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 78px;
  padding: 0 10px;
}

.mobile-menu .topper.resize .toggle_mnu {
  top: 44px;
  height: 23px;
  width: 35px;
}

.mobile-menu .topper .toggle_mnu {
  width: 26px;
  height: 20px;
}

.mobile-menu .topper .logo img {
  display: block;
}

.mobile-menu .menu-list {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu .menu-list li {
  margin-bottom: 23px;
}

.mobile-menu .menu-list li:last-of-type {
  margin-bottom: 40px;
}

.mobile-menu .menu-list li a {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
}

.mobile-menu .lang-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile-menu .lang-menu li {
  margin: 0 15px;
}

.mobile-menu .lang-menu li a {
  color: #ffff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 300;
}

.mobile-menu .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.mobile-menu .search-form input {
  padding: 2px 0;
  width: 180px;
  border: none;
  border-bottom: 1px #ababab solid;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #8a8c8c;
  outline: none;
}

.mobile-menu .search-form input::-webkit-input-placeholder, .mobile-menu .search-form input::-moz-placeholder, .mobile-menu .search-form input:-moz-placeholder, .mobile-menu .search-form input:-ms-input-placeholder {
  color: #ababab;
}

.mobile-menu .search-form input::placeholder {
  font-size: 13px;
  font-weight: 300;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  color: #ababab;
}

.mobile-menu .search-form input[placeholder], .mobile-menu .search-form input::placeholder, .mobile-menu .search-form input::-webkit-input-placeholder, .mobile-menu .search-form input::-moz-placeholder, .mobile-menu .search-form input:-moz-placeholder, .mobile-menu .search-form input:-ms-input-placeholder {
  color: #ababab;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  font-weight: 300;
  font-size: 13px;
}

.mobile-menu .search-form .search-button {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

.mobile-menu .search-form .search-button svg path {
  fill: #fff;
}

.search-menu {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #8a8c8c;
  z-index: 20000;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
}

.search-menu .topper-search {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-menu .topper-search .close {
  position: absolute;
  right: 60px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  transition: opacity .5s;
}

.search-menu .topper-search .close:hover {
  opacity: .6;
  transition: opacity .5s;
  cursor: pointer;
}

.search-menu .topper-search .close:before, .search-menu .topper-search .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #fff;
}

.search-menu .topper-search .close:before {
  transform: rotate(45deg);
}

.search-menu .topper-search .close:after {
  transform: rotate(-45deg);
}

.search-menu .search {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-menu .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-menu .search-form input {
  padding: 2px 0;
  width: 250px;
  border: none;
  border-bottom: 1px #ababab solid;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #8a8c8c;
  outline: none;
}

.search-menu .search-form input::-webkit-input-placeholder, .search-menu .search-form input::-moz-placeholder, .search-menu .search-form input:-moz-placeholder, .search-menu .search-form input:-ms-input-placeholder {
  color: #ababab;
}

.search-menu .search-form input::placeholder {
  font-size: 18px;
  font-weight: 300;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  color: #ababab;
}

.search-menu .search-form input[placeholder], .search-menu .search-form input::placeholder, .search-menu .search-form input::-webkit-input-placeholder, .search-menu .search-form input::-moz-placeholder, .search-menu .search-form input:-moz-placeholder, .search-menu .search-form input:-ms-input-placeholder {
  color: #ababab;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  font-weight: 300;
  font-size: 18px;
}

.search-menu .search-form .search-button {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.search-menu .search-form .search-button svg path {
  fill: #fff;
}

section.what-is-on {
  padding: 80px 0 200px 0;
}

section.what-is-on .content h1 {
  position: relative;
  text-align: center;
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  font-weight: 300;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

section.what-is-on .what-is-on-gallery {
  margin: 0 auto;
}

section.what-is-on .what-is-on-gallery .slick-list .slick-track {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.what-is-on .what-is-on-gallery .item {
  padding: 0 40px;
  margin: 0 15px;
  @include respond-to(md){
    opacity: .5;
    transition: opacity 0.7s ease-in-out;
  }
}

section.what-is-on .what-is-on-gallery .item:focus {
  outline: none;
}

section.what-is-on .what-is-on-gallery .item .bottom-content {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

section.what-is-on .what-is-on-gallery .item.slick-active {
  @include respond-to(md) {
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
  }
}

section.what-is-on .what-is-on-gallery .item.slick-active .bottom-content {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content {
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .place {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #848484;
  text-transform: uppercase;
  margin-bottom: 14px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .type {
  position: relative;
  font-weight: 300;
  color: #cb97af;
  font-size: 17px;
  line-height: 19px;
  margin-left: 40px;
  margin-bottom: 40px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .type::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #cb97af;
  left: -40px;
  top: 8px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content img {
  display: block;
  margin-bottom: 25px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper .location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper .location .icon {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper .location .icon svg {
  width: 100%;
  height: 100%;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper .location .icon svg path {
  fill: #cb97af;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-wrapper .location .text {
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  font-weight: 500;
  font-size: 16px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #cb97af;
  margin-bottom: 24px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .title-post {
  font-weight: 200;
  position: relative;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 55px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .title-post::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #cb97af;
  left: 0;
  bottom: -17px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content p.context {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 65px;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #cb97af;
  padding-bottom: 1px;
  transition: border-bottom 1s ease;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background .5s ease;
  background-color: #cb97af;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: #cb97af;
  transition: width .35s ease;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link:hover {
  border-bottom: 1px solid transparent;
  transition: border-bottom .5s ease;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link:hover::before {
  width: 100%;
  background: #333333;
  transition: width .5s ease;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content a.link:hover::after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .location-event {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile {
  display: none;
  flex-direction: column;
}

section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .title-post::after {
  background-color: transparent;
}

section.what-is-on .what-is-on-gallery .nav-button {
  top: 30%;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 100;
  opacity: .8;
  transition: opacity .5s;
}

section.what-is-on .what-is-on-gallery .nav-button:hover {
  opacity: .4;
  transition: opacity .5s;
  cursor: pointer;
}

section.what-is-on .what-is-on-gallery .nav-button svg path {
  fill: #000;
}

section.what-is-on .what-is-on-gallery .nav-button.prev-button {
  left: 85px;
}

section.what-is-on .what-is-on-gallery .nav-button.next-button {
  right: 65px;
}

section.what-is-on .what-is-on-gallery-carousel .owl-stage {
  transition-timing-function: linear !important;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content {
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .place {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #848484;
  text-transform: uppercase;
  margin-bottom: 14px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .type {
  position: relative;
  font-weight: 300;
  color: #cb97af;
  font-size: 17px;
  line-height: 19px;
  margin-left: 40px;
  margin-bottom: 40px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .type::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #cb97af;
  left: -40px;
  top: 8px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content img {
  display: block;
  margin-bottom: 25px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper .location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper .location .icon {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper .location .icon svg {
  width: 100%;
  height: 100%;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper .location .icon svg path {
  fill: #cb97af;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-wrapper .location .text {
  //font-family: "Montserrat", sans-serif;
  font-family: $baseFontFamily;
  font-weight: 500;
  font-size: 16px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #cb97af;
  margin-bottom: 24px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .title-post {
  font-weight: 200;
  position: relative;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 55px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .title-post::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #cb97af;
  left: 0;
  bottom: -17px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content p.context {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 65px;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #cb97af;
  padding-bottom: 1px;
  transition: border-bottom 1s ease;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  transition: width 0s ease, background .5s ease;
  background-color: #cb97af;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: #cb97af;
  transition: width .35s ease;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link:hover {
  border-bottom: 1px solid transparent;
  transition: border-bottom .5s ease;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link:hover::before {
  width: 100%;
  background: #333333;
  transition: width .5s ease;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content a.link:hover::after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .location-event {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile {
  display: none;
  flex-direction: column;
}

section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .title-post::after {
  background-color: transparent;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav {
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav button {
  background: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev,
section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
  position: relative;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev span,
section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next span {
  display: none;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev::before,
section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  width: 40px;
  height: 40px;
  z-index: 1000;
  opacity: .8;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev::before {
  background-image: url("../img/arrow-left.png");
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
  position: relative;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next::before {
  background-image: url("../img/arrow-right.png");
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev,
section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
  margin: 0;
  position: absolute;
  top: 36%;
  z-index: 10;
  left: 60px;
  transition: opacity .5s;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev:hover,
section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next:hover {
  opacity: .5;
  transition: opacity .5s;
}

section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
  left: auto;
  right: 60px;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1300px) {
  .wrapper-top-header .top-header .right-side ul.top-menu li {
    padding: 0 10px;
  }
  .wrapper-top-header .top-header .right-side .lang-select {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1400px) {
  .wrapper-top-header .top-header .right-side {
    display: none;
  }
}

@media only screen and (max-width: 1660px) {

  .wrapper-top-header .top-header .right-side ul.top-menu li {
    padding: 0 13px;
  }
  .wrapper-top-header .top-header .right-side .lang-select {
    margin-left: 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}

@media only screen and (min-width: 1400px) {
  .toggle_mnu.top {
    display: none;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
  .what-is-on-gallery-carousel .owl-nav .owl-prev,
  .what-is-on-gallery-carousel .owl-nav .owl-next {
    top: 34% !important;
  }
  section.what-is-on .what-is-on-gallery .nav-button {
    top: 25%;
  }
}

@media only screen and (max-width: 1300px) {
  .what-is-on-gallery-carousel .owl-nav .owl-prev,
  .what-is-on-gallery-carousel .owl-nav .owl-next {
    top: 31% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .what-is-on-gallery-carousel .owl-nav .owl-prev,
  .what-is-on-gallery-carousel .owl-nav .owl-next {
    top: 28% !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  section.what-is-on {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 120px;
  }
  section.what-is-on .what-is-on-gallery {
    margin-bottom: 80px;
  }
  section.what-is-on .what-is-on-gallery .nav-button {
    top: inherit;
    bottom: -70px;
  }
  section.what-is-on .what-is-on-gallery .nav-button.prev-button {
    left: 65px;
  }
  section.what-is-on .what-is-on-gallery .item {
    padding: 0;
  }
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content {
    display: none;
  }
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile {
    display: flex;
  }
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .title-post {
    margin-bottom: 30px;
  }
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .subtitle {
    margin-bottom: 12px;
  }
  section.what-is-on .what-is-on-gallery .nav-button {
    display: none;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev,
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
    width: 97px;
    height: 48px;
    margin: 0 20px !important;
    top: 0 !important;
    position: relative;
    border: 1px solid #dedede;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev::before,
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next::before {
    width: 13px;
    height: 24px;
    background-size: contain;
    top: calc(50% - 12px);
    left: calc(50% - 7px);
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
    right: 0;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev {
    left: 0;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-prev::before {
    background-image: url("../img/arrow-left-down.png");
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next {
    position: relative;
  }
  section.what-is-on .what-is-on-gallery-carousel .owl-nav .owl-next::before {
    background-image: url("../img/arrow-right-down.png");
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content {
    display: none;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile {
    display: flex;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .title-post {
    margin-bottom: 30px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .subtitle {
    margin-bottom: 12px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button.prev-button {
    left: 30px;
  }
  section.main-carousel-wrapper .main-carousel-home.slick-slider .nav-button.next-button {
    right: 30px;
  }
  section.what-is-on .content h1 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 65px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .place,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .place {
    font-size: 16px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .type,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .type {
    font-size: 16px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .type::before,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .type::before {
    height: 1px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .title-post,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .title-post {
    font-size: 35px;
    line-height: 40px;
  }
  /*Disable Animation on Mobile Devices*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item {
    //height: 250px;
  }
  //section.main-carousel-wrapper .main-carousel-home.slick-slider .slick-track .item .video-hero video {
  //  min-height: 100%;
  //}
  section.main-carousel-wrapper .main-carousel .item {
    //height: calc(250px + 78px);
  }
  section.main-carousel-wrapper .main-carousel .item .item-content {
    height: inherit;
  }
  section.main-carousel-wrapper .main-carousel .item .item-content .item-media {
    height: inherit;
  }
  section.main-carousel-wrapper .scroll-down-wrapper a.scroll-down {
    display: none;
  }
  section.main-carousel-wrapper .scroll-down-wrapper .vertical-line .line.animated-line {
    height: 70px;
    top: -35px;
  }
  .main-carousel-wrapper .scroll-down-wrapper a.scroll-down {
    display: none;
  }
  section.what-is-on {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  section.what-is-on .content h1 {
    font-size: 25px;
    line-height: 28px;
  }
  section.what-is-on .content h1::after {
    height: 70px;
    top: -85px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .title-post,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .title-post {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  section.what-is-on .what-is-on-gallery-carousel .item .item-wrap-content .bottom-content-mobile .subtitle,
  section.what-is-on .what-is-on-gallery .item .item-wrap-content .bottom-content-mobile .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  section.what-is-on .what-is-on-gallery .nav-button.prev-button {
    left: 40px;
  }
  section.what-is-on .what-is-on-gallery .nav-button.next-button {
    right: 40px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768.99px) {

}

/**/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .what-is-on-gallery-carousel .owl-item.active.center .item-wrap-content {
    opacity: 1;
  }
  .what-is-on-gallery-carousel .owl-item.active.center .item-wrap-content .bottom-content {
    opacity: 1;
    transition: opacity 2s;
  }
  .what-is-on-gallery-carousel .owl-item .item-wrap-content {
    opacity: .4;
    transition: opacity 2s;
  }
  .what-is-on-gallery-carousel .owl-item .item-wrap-content .bottom-content {
    opacity: 0;
    transition: opacity 2s;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
