.arrowed-link{
  position: relative;
  display: inline-block;
  padding: 15px 0 15px 25px;
  &:before{
    content: '';
    display: block;
    @include square(5px);
    border-right: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  @include on-event{
    color: $pink-color;
  }

  @include respond-to(md){
    padding: 20px 0 20px 25px;
  }
}