.arrowed-link{
  position: relative;
  display: inline-block;
  //padding: 10px 0 10px 25px;
  padding: 0px 0 10px 25px;
  @include underline-hover($textColor);
  span{
    display: block;
    @include square(5px);
    border-right: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    transform: rotate(-45deg);
    position: absolute;
    //top: 0;
    top: -11px;
    bottom: 0;
    left: 0;
    margin: auto;
  }
 &:before, &:after{
   bottom: 7px;
 }
}