.artists-section__controls {
  margin-bottom: 30px;
  li {
    position: relative;
    display: inline-block;
    &:not(:first-of-type) {
      &:before {
        content: '/';
        display: inline-block;
        font-size: inherit;
        color: inherit;
        margin: 0 15px;
      }
    }
    &.is-active {
      pointer-events: none;
      a {
        @include no-underline-on-hover($textColor)
      }
    }
  }
  a {
    position: relative;
    text-transform: uppercase;
    font-size: 0.91rem;
    @include underline-hover($textColor);
  }

  @include respond-to(md) {
  }
}