//$fairs-detail-grey: #313131;
//$fairs-detail-grey: #7a7a7a;


/*  HERO */

.fairs-details__hero {
  padding-bottom: $section-mb/2;
  border-bottom: 1px solid #ededed;

  @include respond-to(md) {
    padding-bottom: $section-mb;
  }
}

.fairs-detail__hero-media {
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  figcaption{
    text-align: right;
    margin-top: 10px;
  }
  @include respond-to(md) {
    margin-bottom: 60px;
  }
}

.fairs-detail__hero-title {
  margin-bottom: 20px;
  h1 {
    text-transform: uppercase;
    //color: $fairs-detail-grey;
    //font-size: 1.25rem; //20
    font-weight: 300;
    line-height: 1.2;
    font-family: $titleFontFamily;
  }

  @include respond-to(md) {
    margin-bottom: 0;
    h1 {
      //font-size: 2rem;
    }
  }
  @include respond-to(xl) {
    h1 {
      //font-size: 3.125rem;
    }
  }
}

.fairs-detail__hero-info {
  p {
    //font-size: 0.875rem; //14
    //font-weight: 300;
  }
  @include respond-to(md) {
    padding-left: $gap-left / 2;
  }
  @include respond-to(xl) {
    padding-left: $gap-left;
  }
}

.fairs-detail__hero-link {
  margin-top: 35px;
  a {
    display: inline-block;
    //border-top: 1px solid #ededed;
    //border-bottom: 1px solid #ededed;
  }
  @include respond-to(md) {
    //margin-top: 10px;
  }
}

/*****************************/
