/*------------Slick Slider----------------*/

.slick__slider {
  position: relative;
  opacity: 0;
  &.slick-initialized {
    opacity: 1;
  }
}

.slick__slider-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include respond-to(md){
    width: auto;
  }
}

.slick__slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 100;
  background-color: transparent;
  opacity: .8;
  transition: opacity .5s;
  cursor: pointer;
  border: 1px solid $textColor;

  @include on-event {
    opacity: 0.4;
  }
  span {
    @include square(20px);
    border: 1px solid $textColor;
  }
  &--prev {
    span {
      border-top: none;
      border-right: none;
      transform: rotate(45deg) translate(4px, -4px);
    }
  }
  &--next {
    span {
      border-left: none;
      border-bottom: none;
      transform: rotate(45deg) translate(-4px, 4px);
    }
  }

  @include respond-to(lg) {
    position: absolute;
    top: 30%;
    border-radius: 50%;
    &--prev{
      left: -50px;
    }
    &--next{
      right: -50px;
    }
  }
}
