.exhibitions-section {
  padding-bottom: $section-mb/2;

  @include respond-to(md) {
    padding-bottom: $section-mb;
  }
}

.exhibitions-section__carousel-wrap {
  position: relative;

  .slick__slider-nav {
    padding-top: 40px;
    max-width: 230px;
    @include center;
    .slick__slider-btn {
      width: 90px;
    }
    @include respond-to(sm) {
      max-width: none;
    }
    @include respond-to(lg) {
      padding-top: 0;
      .slick__slider-btn {
        width: 40px;
      }
    }
  }
}

.exhibitions-section__carousel {
  @include respond-to(md) {
    margin: 0 -20px;
  }
  @include respond-to(xl) {
    margin: 0 -50px;
  }
  @include respond-to(xxl) {
    margin: 0 -75px;
  }
}

.exhibitions-section__item-inner {
  display: block;

  @include on-event {
    .exhibitions-section__item-media {
      img {
        transform: scale(1.1, 1.1);
      }
    }
  }
  @include respond-to(md) {
    padding: 0 20px;
  }
  @include respond-to(xl) {
    padding: 0 50px;
  }
  @include respond-to(xxl) {
    padding: 0 75px;
  }
}

.exhibitions-section__item-content {
  .date {
    margin-bottom: 8px;
  }
  .location {
    font-size: 14px;
  }
  h3 {
    padding-top: 8px;
    //border-top: 1px solid #ededed;
    margin-bottom: 16px;
    font-family: $titleFontFamily;
    line-height: 1.3;
    font-size: 1.3rem;
  }
  @include respond-to(md) {
    .date {
      margin-bottom: 8px;
    }
    h3 {
      padding-top: 8px;
      margin-bottom: 16px;
      font-size: 1.55rem;
    }
  }
}

.exhibitions-section__item-media {
  margin-bottom: 20px;
  overflow: hidden;

  img {
    width: 100%;
    transition: 3.5s all ease;
  }
  @include respond-to(md) {
  }
}