.follow-section{
  h2{
    margin-bottom: 20px;
  }
  @include respond-to(md){
    h2{
      margin-bottom: 35px;
    }
  }
}

.follow-img{
  text-align: center;
  img{
    width: 100%;
  }
}

.follow-img__link{
  display: block;
  max-width: 312px;
  margin-bottom: 60px;
  @include center;
}