.news {
  padding-bottom: $section-mb / 2;
  @include respond-to(md) {
    padding-bottom: $section-mb;
  }
}

.news-list__wrap {
  @include respond-to(md){
    margin: 0 -15px;
  }
  @include respond-to(xl){
    margin: 0 -35px;
  }
}

.news-list {
}

.news-list__item-wrap {


}

.news-list__item {
  margin-bottom: 40px;

  @include respond-to(md) {
    padding: 0 15px;
    margin-bottom: 70px;
  }
  @include respond-to(xl){
    padding: 0 35px;
  }
  @include respond-to(xxl) {
    margin-bottom: 120px;
  }
}

.news-list__item-media {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  @include respond-to(md){
    margin-bottom: 35px;
  }
}

.news-list__item-content {
  display: flex;
  flex-direction: column;
  h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 1.3;
    order: 0;
  }

  p {
    margin-bottom: 15px;
    display: none;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.news-list__item-date {
      text-transform: uppercase;
      color: $pink-color;
      order: 1;
      display: block;
    }
  }

  @include respond-to(md){
    p{
      display: block;
      order: 2;
      &.news-list__item-date {
        order: 0;
      }
    }
    h4{
      order: 1;
      margin-bottom: 30px;
    }
  }
}

.news-list__item-content--right {
  @include respond-to(md) {
    text-align: right;
  }
}