.news-detail {
  padding-bottom: $section-mb / 2;
  @include respond-to(md) {
    padding-bottom: $section-mb;
  }
}

.news-detail__date {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.news-detail-title {
  margin-bottom: 65px;
  @include respond-to(md) {
    //margin-bottom: 85px;
  }
}

.news-detail__media {
  margin-bottom: 95px;
  img {
    width: 100%;
  }
  @include respond-to(md) {
    margin-bottom: 0;
  }
}

.news-detail__content {

  p{
    color: $lightgrey-color;
  }
  @include respond-to(md) {
    padding-left: 20px;
  }
  @include respond-to(lg) {
    padding-left: 40px;
  }
  //@include respond-to(xl) {
  //  padding-left: 60px;
  //}
  //@include respond-to(xxl) {
  //  padding-left: 100px;
  //}
}

.news-detail__read-more {
  margin-top: 50px;
  a {
    position: relative;
    @include underline-hover($lightgrey-color);
    color: $lightgrey-color;
    &:after{
      width: 100%;
    }
    @include on-event{

    }
  }
  @include respond-to(md) {
    //margin-top: 100px;
  }
}