/*****************************/
/*  News */

.news-section {
  padding-bottom: $section-mb;
}

.news-section__list {
  max-width: 1170px;
  @include center;
}

.news-section__list-row {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  border-bottom: 1px solid rgba(#747474, 0.16);
  @include respond-to(md) {
    //padding-top: 42px;
    //padding-bottom: 42px;
  }
}

.news-section__list-date {
  padding-right: 20px;
  flex: 1 0 120px;
  max-width: 120px;
  p {
    text-transform: uppercase;
  }
  @include respond-to(sm) {
    width: 190px;
    max-width: 190px;
    flex: 1 0 190px;
  }
}

.news-section__list-content {
  h4 {
    text-transform: uppercase;
    line-height: 1.33;
    font-family: $titleFontFamily;

    a {
      position: relative;
      @include underline-hover($textColor);
    }
  }
  p {
    color: #747474;
    line-height: 1.6;
    display: none;
  }

  @include respond-to(sm) {
    h4 {
      margin-bottom: 15px;
    }
    p {
      display: block;
    }
  }
}

/*****************************/