/* Basic typography style for text
  Mobile first method
*/

html {
  // This defines what 1 rem is
  font-size: 16px;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: normal;
  font-family: $titleFontFamily;
  @include respond-to(md) {
    font-size: 2.3rem;
  }
}

h2,
.h2 {
  font-size: 1.69rem;
  line-height: 1.2;
  font-weight: normal;
  font-family: $titleFontFamily;
  @include respond-to(md) {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: 1.15rem;
  font-weight: normal;
  font-family: $titleFontFamily;
  @include respond-to(md) {
    font-size: 1.15rem;
  }
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: normal;
  font-family: $titleFontFamily;
  @include respond-to(md){
    font-size: 1.1rem;
  }
}

h5,.h5{
  font-size: 0.875rem;
}

p {
  font-size: 0.875rem; // 14
  font-weight: normal;
  margin-bottom: 35px;
  &:last-of-type {
    margin-bottom: 0;
  }

  @include respond-to(md){
    font-size: 1rem;
    //margin-bottom: 40px;
  }
}

p.text--sm{
  font-size: 0.81rem;

  @include respond-to(md){
    font-size: 0.94rem;
  }
}

p.featured{
  font-size: 1rem;
  font-weight: normal;
  font-family: $titleFontFamily;
  color: $titleColor;
  @include respond-to(md){
    font-size: 1.1rem;
  }
  @include respond-to(lg){
    font-size: 1.3rem;
  }
}

.title-with-line{
  //&:before{
  //  content: '';
  //  display: inline-block;
  //  vertical-align: middle;
  //  background-color: $lightgrey-color;
  //  width: 20px;
  //  height: 1px;
  //  margin-right: 5px;
  //}
}