/// Font families
$Montserrat: 'Montserrat', sans-serif;
$Benton: 'BentonSans', sans-serif;

/// Base font family
$baseFontFamily: $Benton, Helvetica, Arial, sans-serif;

/// Base font size (rem), line height and letter spacing
@mixin font-size($size: 16) {
  font-size: $size * 1px;
  font-size: ($size / $baseFontSize) * 1rem;
}

$baseFontSize: 16;
$baseFontSizePixel: $baseFontSize * 1px;

$baseLineHeight: 1.6;
$baseLetterSpacing: 0.05em;

/// Colors
$textColor: #7a7a7a !default;
$bodyBackground: #fff;

$dark-color: #333333;
$lightgrey-color: #7a7a7a;
$lightdark-color: #848484;
$lightpink-color: #cb97af;
$pink-color: #db9db9;

/// spacing gap


/// Container's maximum width
/// @type Length
$max-width: 1255px !default; //1215 + 20px + 20px

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'xs': screen and
    (
      min-width: 572px
    ),
  'sm': screen and
    (
      min-width: 768px
    ),
  'md': screen and
    (
      min-width: 992px
    ),
  'lg': screen and
    (
      min-width: 1200px
    ),
  'xl': screen and
    (
      min-width: 1400px
    ),
  'xxl': screen and
    (
      min-width: 1660px
    )
) !default;

/// defaul images and fonts location
$fontsUrl: '../fonts/';
$imgUrl: '../img/';
